@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.container-text > p:first-child,
.container-text > p:last-of-type {
  font-size: 18px;
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(224, 224, 224),
    rgb(0, 0, 0)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.normal-text {
  font-size: 36px;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(136, 136, 136)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.featured-text {
  font-size: 36px;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 0, 0),
    rgb(255, 0, 0),
    rgb(0, 0, 0)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.form-control:focus {
  border-color: #000;
  box-shadow: none;
}

.limited-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: rgb(179 176 176 / 15%);
}

.btn-close:focus {
  box-shadow: none;
}

@media (min-width: 1200px) {
  .container-text > p:nth-child(2) {
    font-size: 42px;
  }

  .container-text > p:first-child,
  .container-text > p:last-of-type {
    font-size: 24px;
  }

  .featured-text,
  .normal-text {
    font-size: 56px;
  }
}
